@font-face {
	font-family: "Swiss";
	font-style: normal;
	src: url("/fonts/Swiss 721 Roman.ttf") format("truetype"); /* non-IE */	
}
body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	font-family:'Swiss';
}
#forceFontLoad{	
	position:absolute;
	z-index:2000;
}
#background {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:0;
}
canvas {
	z-index:100;
	position:absolute;
	left:0;
	top:0;
}
.controllerBody{
	margin:10px;
	padding:10px;
}

#fadeout{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:50;
	background-color:rgba(0,0,0,.5);
}

#questionForm{
	background-color:white;
	position:absolute;
	width:70%;
	height:70%;
	left:10%;
	top:10%;
	box-shadow: 0px 0px 58px 10px rgba(0,0,0,0.75);
	z-index:100;
	padding:5%;
}
#closeQuestion{
	position:absolute;
	right:1%;
	top:3%;
	z-index:200;
	font-size:20px;
	cursor:pointer;
}

.hiddenFade {
	transition: opacity 0.7s;
	opacity:0;
}
.visibleFade{
    transition: opacity 0.7s;
    opacity:1;
}