#ipad {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:gray;
}

#ipad .section{
	margin:1%;
	padding:1%;
	width:96%;
	background-color:#DDDDDD;
	border-radius:5px;
	text-align:center;
	position:absolute;
}

.upper {
	height:80%;
	top:0;
	left:0;
}

.bottom{
    position:absolute;
    top:83%;
    left:0;
	height:13%;
	text-align:center;
}
.bottom input{
	width:70%;
	display:block;
	margin:10px auto;
}

#emoji {
	
}

.emojiButton{
	margin:0 10px;
	height:90%;
}

.emojiButton.active {
	
}

.emojiButton.inactive {
	opacity:.5;
}

#question h1{
	margin:20px;
}

#question h2{
	color:white;
	padding:20px;
	border-radius:5px;
}
.answer.selected {
	background-color:green;
}
.answer.unselected {
	background-color:rgba(95, 95, 95, 1);
}

