@font-face {
	font-family: "Swiss";
	font-style: normal;
	src: url("/fonts/Swiss 721 Roman.ttf") format("truetype"); /* non-IE */	
}
@font-face {
	font-family: "SwissBlack";
	font-style: normal;
	src: url("/fonts/Swiss 721 Roman.ttf") format("truetype"); /* non-IE */	
}
body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}
.forceFontLoad{	
	position:absolute;
	z-index:2000;
	
}
.Swiss{
	font-family:'Swiss';
}
.SwissBlack{
	font-family:'SwissBlack';
}
#background {
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:0;
}
canvas {
	z-index:100;
	position:absolute;
	left:0;
	top:0;
}
.controllerBody{
	margin:10px;
	padding:10px;
}

#fadeout{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:50;
	background-color:rgba(0,0,0,.5);
}

.popOver{
	background-color:white;
	position:fixed;
	width:70%;
	height:70%;
	left:10%;
	top:10%;
	box-shadow: 0px 0px 58px 10px rgba(0,0,0,0.75);
	z-index:100;
	padding:5%;
}
.closeButton{
	position:absolute;
	right:1%;
	top:3%;
	z-index:200;
	font-size:20px;
	cursor:pointer;
}

.hiddenFade {
	transition: opacity 0.5s, transform 0.5s;
	-webkit-transition: opacity 0.5s, transform 0.5s;
	opacity:0;
	transform:scaleY(0);
	pointer-events:none;
}
.visibleFade{
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transition: opacity 0.5s, transform 0.5s;
    opacity:1;
    transform:scaleY(1);
    pointer-events: inherit;
}
.barChartBar{
    background-color:green;
    text-align:right;
    color:#afafaf;
    padding:0 10px;
}
table.table-striped tr td.connected{
	color:white;
	background-color:#00AA00;
}
table.table-striped tr td.disconnected{
	color:white;
	background-color:#AA0000;
}
.swatch{
	display:inline-block;
	width:20px;
	height:20px;
	margin:5px;
	border:solid black 1px;
	margin-top:8px;
}