<template name="navigation">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	      <ul class="nav navbar-nav">
		    <li class="{{activeIfTemplateIs 'ControllerWall'}}"><a href="/controller_wall">Wall</a></li>
	        <li class="{{activeIfTemplateIs 'ControllerTicker'}}"><a href="/controller_ticker">Ticker</a></li>
	        <li class="{{activeIfTemplateIs 'ControllerQuestions'}}"><a href="/controller_questions">Questions</a></li>
	        <li class="{{activeIfTemplateIs 'ControllerIpadControls'}}"><a href="/controller_ipad_controls">iPad Controls</a></li>
	        <li class="{{activeIfTemplateIs 'ControllerIpadConnections'}}"><a href="/controller_device_connections">Device Connections</a></li>
	      </ul>
	  </div>
	</nav>	
</template>
