<template name='controllerIpadControls'>
	{{> navigation}}
	<div class="controllerBody">
	    <table class='table table-bordered'>
		  <tbody>
		      <tr>
			      <td>iPad Upper Pane</td>
			      <td><button class='btn ipadUpper {{ipadUpperActive "question"}}' name='question'>Question</button></td>
			      <td><button class='btn ipadUpper {{ipadUpperActive "research"}}' name='research'>Research</button></td>
			      <td><button class='btn ipadUpper {{ipadUpperActive "standby"}}' name='standby'>Standby</button></td>
		      </tr>
		      <tr>
			      <td>iPad Lower Pane</td>
			      <td><button class='btn ipadLower {{ipadLowerActive "standby"}}' name='standby'>Standby</button></td>
			      <td><button class='btn ipadLower {{ipadLowerActive "emoji"}}' name='emoji'>Emoji</button></td>
			      <td><button class='btn ipadLower {{ipadLowerActive "thumbs"}}' name='thumbs'>Thumbs</button></td>
			      <td><button class='btn ipadLower {{ipadLowerActive "message"}}' name='message'>Message</button></td>
		      </tr>
		  </tbody>
	    </table>

	</div>
</template>