<template name='ipad'>
	<div id='ipad'>
		<div class='section upper {{topHidden "research"}}' id='research'>
			<h1>RESEARCH</h1>
		
		</div>
		
		<div class='section upper {{topHidden "question"}}' id='question'>
			
			<h1>{{activeQuestion 'questionText'}}</h1>
			<h2>{{activeQuestion 'answer1'}}</h2>
			<h2>{{activeQuestion 'answer2'}}</h2>
			<h2>{{activeQuestion 'answer3'}}</h2>
			<h2>{{activeQuestion 'answer4'}}</h2>
			<h2>{{activeQuestion 'answer5'}}</h2>
			<h2>{{activeQuestion 'answer6'}}</h2>
		</div>
		
		<div class='section upper {{topHidden "standby"}}' id='standby'>
			<h1>WELCOME</h1>
		
		</div>
		
		
		<div class='section bottom hidden' id='emoji'>
			<button class='btn btn-large happy' name='happy'>HAPPY</button>
			<button class='btn btn-large sad' name='sad'>SAD</button>
			<button class='btn btn-large angry' name='angry'>ANGRY</button>
			<button class='btn btn-large eyeroll' name='eyeroll'>EYE ROLL</button>
		</div>
		
		<div class='section bottom' id='message'>
			<form>
				<div class='form-group'>
					<input type='text' class="form-control" name='message' id='messageInput'>
					<button class='btn btn-large' type='submit'>Send message</button>
				</div>
			</form>
		</div>
	</div>
</template>
