<template name='ipad'>
	<div id='ipad'>
		<div class='section upper hidden' id='research'>
			<h1>RESEARCH</h1>
		
		</div>
		
		<div class='section upper hidden' id='question'>
			<h1>This is the text of the question being asked.</h1>
			<h2>Option 1</h2>
			<h2>Option 2</h2>
			<h2>Option 3</h2>
			<h2>Option 4</h2>
			<h2>Option 5</h2>
			<h2>Option 5</h2>
		</div>
		
		<div class='section upper hidden' id='standby'>
			<h1>WELCOME</h1>
		
		</div>
		
		
		<div class='section' id='emoji'>
			<button class='btn btn-large happy' name='happy'>HAPPY</button>
			<button class='btn btn-large sad' name='sad'>SAD</button>
			<button class='btn btn-large angry' name='angry'>ANGRY</button>
			<button class='btn btn-large eyeroll' name='eyeroll'>EYE ROLL</button>
		</div>
	</div>
</template>
